<header class="header">
  <h1 class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </h1>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% assign nav_path = nav.url | prepend: site.baseurl %}
    {% assign nav_path_slash = nav_path | append: "/" %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% elsif page.url == nav_path or page.url == nav_path_slash %}
    <a href="{{ nav_path }}" class="active">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav_path }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
    {% include theme-toggle.html %}
  </nav>
</header>
