* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: clamp(1rem, 1rem + 0.25vw, 1.25rem);
  font-weight: 400;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 42rem;
  padding: 2rem 1.3rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 38rem) {
    padding: 5rem 1rem;
  }
}


/*--------------
  Header
  -------------- */
.header {
  padding: 2%;

  &-title {
    font-weight: 300;

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: var(--color-base-lighten-60);
    }

  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .25rem;

    a {
      color: var(--color-base-lighten-50);
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;

      &:hover,
      &:focus {
        color: $base-color;
        text-decoration: none;
      }

    }
  }
}

.header-small {
  text-align: left;
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;

  a {
    color: $base-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/*--------------
  Page
  -------------- */

.page {
  &-title {
    margin-bottom: 2rem;
  }
}


/*--------------
  Post
  -------------- */
.post {

  &-title {
    margin-bottom: 0rem;
  }

  &-date {
    margin-bottom: .5rem;
    color: $base-lighten-color;
    font-size: .75rem;
    text-transform: uppercase;
  }

  &-tag {
    margin-bottom: 1rem;

    .tag {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: var(--color-tag-text);
      background-color: $base-lighten-color;
      text-decoration: none;
      border-radius: 3px;
    }

    li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;
    }

    span {
      float: left;
      padding: .5px 5px;
    }
  }
}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;
    border-bottom: 1px solid var(--color-border);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $background-over-color;
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .25rem;
      font-size: 1.6rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .75rem;
      text-transform: uppercase;
    }

    &-desc {
      color: var(--color-base-lighten-20);
      margin-bottom: .25rem;
      font-size: 1rem;
    }

    &-label {
      display: inline-block;
      font-size: .65rem;
      padding: 1px 6px;
      margin-left: .5rem;
      border-radius: 3px;
      background-color: var(--color-base-lighten-50);
      color: var(--color-tag-text);
      text-transform: lowercase;
      vertical-align: middle;
    }

    &--note {
      .list-post-title {
        font-size: 1.3rem;
      }
    }
  }

  &-pagination {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;

      a {
        color: $base-lighten-color;

        &:hover,
        &:focus {
          color: $base-color;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;

      a {
        color: $base-lighten-color;

        &:hover {
          color: $base-color;
          text-decoration: none;
        }
      }
    }
  }
}


/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    font-size: .75rem;
    display: inline;
    list-style-type: none;
    text-transform: lowercase;


    a {
      display: inline-block;
      margin: 1px 4px;
      color: var(--color-tag-text);
      background-color: var(--color-base-lighten-50);
      border-radius: 3px;

      span {
        float: left;
        padding: .5px 5px;
      }

      .count {
        background-color: var(--color-base-lighten-40);
        border-radius: 0 3px 3px 0;
      }

      &:hover {
        background-color: var(--color-base-lighten-40);
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding-top: 1rem;
  }

  &-post {
    padding-left: .75rem;

    a {
      color: $base-color;

      &:hover {
        color: $base-color;
        text-decoration: none;
        background-color: $background-over-color;
        border-color: transparent;
      }
    }
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {

      a {
        color: $base-color;

        &:hover {
          color: $base-color;
          text-decoration: none;
          background-color: $background-over-color;
          border-color: transparent;
        }

      }


      &-title {
        font-size: 1.2rem;
        font-weight: 600;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}


/*--------------
  Footer
  -------------- */
.footer {
  text-align: center;
  font-size: .75rem;

  &-link {
    margin: .2rem;

    a {
      color: $base-color;
      margin: 4px;
    }
  }
}


/*--------------
  Header small container (post/page)
  -------------- */
.header-small-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
}


/*--------------
  Theme toggle
  -------------- */
.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: $base-color;
  line-height: 1;

  svg {
    width: 20px;
    height: 20px;
    display: block;
  }

  &:hover {
    opacity: 0.7;
  }

  .icon-moon {
    display: none;
  }
}

[data-theme="dark"] .theme-toggle {
  .icon-sun {
    display: none;
  }

  .icon-moon {
    display: block;
  }
}


/*--------------
  Intro
  -------------- */
.intro {
  margin-bottom: 1rem;
  padding: 0 2%;
  color: var(--color-base-lighten-20);
  font-size: 1rem;

  p {
    margin: 0;
  }
}


/*--------------
  Share buttons
  -------------- */
.share-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-border);
}

.share-btn {
  display: inline-block;
  font-size: .75rem;
  padding: .3rem .7rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: $base-color;
  background: none;
  cursor: pointer;
  text-decoration: none;
  font-family: $base-font;
  line-height: 1.4;

  &:hover {
    background-color: $background-over-color;
    text-decoration: none;
  }
}
