---
layout: default
---
{% include header.html %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time> · {% include reading-time.html %}
  </span>
  {% unless page.type == "note" %}
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}" class="tag">
          <span class="term">{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endunless %}

  {{ content }}

  {% include share.html %}

  {% unless page.type == "note" %}
  {% if page.comments != false and site.giscus %}
  {% include giscus.html %}
  {% endif %}
  {% endunless %}
</div>
